/* Videos
-------------------------------------------------------------- */

// @todo Make the video preview responsive.

#audiotheme-select-oembed-thumb {
	clear: both;
	display: none;
	float: none;
	margin-bottom: 10px;
	width: 100%;

	.spinner {
		display: none;
		float: none;
		margin-left: 5px;
		margin-top: 0;
		vertical-align: middle;
	}
}
