/**
 * Videos
 * -----------------------------------------------------------------------------
 */


/* Video Archive
------------------------------------------------------------------------------*/

.audiotheme-videos {
	@extend .audiotheme-clearfix;

	line-height: 1.5;
	padding: 0;

	.audiotheme_video {
		background: transparent;
		border-width: 0;
		box-shadow: none;
		padding: 0;

		&:hover {
			box-shadow: none;
		}

		.audiotheme-featured-image {
			margin: 0 0 10px 0;
		}

		.audiotheme-video-title {
			font-size: 16px;
			font-weight: bold;

			a {
				font-size: 16px;
			}
		}
	}
}


/* Single Video
------------------------------------------------------------------------------*/

.audiotheme-video-single {
	background: transparent;
	border-width: 0;
	box-shadow: none;
	padding: 0;

	&:hover {
		box-shadow: none;
	}

	.audiotheme-embed {
		margin: 0 0 30px 0;
	}

	.audiotheme-video-header {
		width: 100%;
	}

	.audiotheme-video-title {
		border-width: 0;
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 20px 0;
		padding: 0;
	}

	.audiotheme-term-list {
		margin: 0 0 30px 0;
	}
}
